.App {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}

.header {
  width: 100%;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

.upload {
  padding: 20px;
  padding-left: 10%;
}

.preview {
  padding: 20px;
  padding-left: 10%;
}

.heading {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
}

.preview-image {
  width: 300px;
  object-fit: contain;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
